.forgot-password {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 15%;
}

.forgot-password-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 15px;
}

.form-control {
    width: 92%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reset-password-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.reset-password-button:hover {
    background-color: #0056b3;
}

.change-log {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}

.change-log:hover {
    text-decoration: underline;
    color: #0056b3;
}